# Node.js
node_modules
npm-debug.log
yarn-error.log
.env

# React
build
*.log
.cache

# OS generated
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
logs
*.log
.smarttomcat

# Coverage
coverage


# Misc
*.local
*.swp


